{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo_url %}

<h2 class="mx-auto mb-5">     

    <img src="{{ avatar }}" alt="">
    <em>Agregando Avatar de: {{ usuario.username }}</em></h2> 

    <h3>{{ mensaje }}</h3>


    <form action="{% url 'agregarAvatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}<h5>
    
        <table> 
      
            {{ form.as_table }}

        </table>
        
    
        <input type="submit" value="Agregar Avatar" class="btn btn-primary btn-xl"></h5>
    </form></h4>
{% endblock %} 
