{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo_url %}
<h2 class="mx-auto mb-5"> 

    <em> Nuevo Mensaje</em></h2>
    {{ mensaje }}

    <h4><form action="{% url 'enviar_mensaje' %}" method="POST"> {% csrf_token %} 
        <table>
            {{ form.as_table }}
        </table>
        <div>
            <input class="btn btn-primary" type="submit" value="Enviar">
            <a class="btn btn-primary" href="{% url 'mensajes' %}"> Volver </a>
        </div>
    </form></h4>
    
{% endblock %} 
  
{% block subtitulo_articulox %}
<p class="lead mb-5"></p> 
{% endblock %}
