{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo_url %}
<h2 class="mx-auto mb-5"> 

    
    <h1>Creadora del Blog:</h1>
    <em> Huilen Olivo Disca </em></h2>

    <img src="/media/AppBlog/imagenes/mia.png" alt="imagen">
{% endblock %} 



{% block titulo_articulox %}

<p> Hola! Mi nombre es Huilen; Cree el blog para aplicar lo aprendido en el curso de Python. Utilice como principal dicho lenguaje 
     y un poco de lo que es HTML y CSS para darle mas vida a la pagina.</p>

<p>Un poco de mi: Actualmente trabajo en un almacen y estoy comenzando en lo que es programacion. Me gustaria poder aprender y capacitarme cada vez mas, 
    para llegar al punto de poder dedicarme a esto que me esta atrapando mucho, a pesar de que a veces un error te trabe, la 
    satisfaccion de solucionarlo o aprender de dicho error, es motivador.</p>

{% endblock %}
