{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo_url %}

<h2 class="mx-auto mb-5">     

    <h3>{{ mensaje }}</h3>

    <em>Crear Usuario!</em></h2>

<h4><em>Completar formulario de Registro</em> 


    <form action="{% url 'registro' %}" method="POST"> {% csrf_token %}
    
        <table> 
      
            {{ form.as_table }}

        </table>
        
    
        <input type="submit" value="Crear Usuario" class="btn btn-primary btn-xl">
    </form></h4>
{% endblock %} 



